apeye>=0.4.0
click>=7.1.2
consolekit>=0.5.0
domdf-python-tools>=1.5.0
dulwich!=0.20.7,!=0.20.8,!=0.20.9,>=0.20.5
pygithub>=1.53
pynacl>=1.4.0
repo-helper>=2020.11.17
southwark>=0.4.0
typing-extensions>=3.7.4.3
